
	File:main.css
	Description: 主要样式文件
*/


/*初始化样式开始*/

*{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: 100%;
	color: #555;
	font-size: 16px;
	line-height: 1.8;
	font-family: "Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.main-center{
	position: relative;
	display: block;
	width: 768px;
	margin: 0 auto;
}
header,content,footer{
	display: block;
}
a{
	display: inline-block;
	color: #3ac19f;
	text-decoration: none;
	white-space:nowrap;
}
input,textarea{
	outline: none;
	border-radius: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
	color: #FFF; 
} 
input,input:focus,input:active{
	user-select: text;
}
::selection {
    background: #555;
    color: #fff;
}

/*初始化样式结束*/

/*头部样式开始*/

header{
	background: #3ac19f;
	color: #FFF;
	text-align: center;
	padding: 20px 10px 10px;
	user-select: none; 
}
.header-logo{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin: 30px 0 0 0;
	transition: all .5s;
}
.header-sitename{
	display: block;
	color: #FFF;
	font-size: 35px;
}
.header-siteinfo{
	color: #FFF;
	font-size: 16px;
}
.header-search{
	margin: 3px 0;
}
.search-txt{
	font-size: 14px;
	padding: 3px 5px;
	width: 140px;
	color: #FFF;
	background: none;
	border: none;
	vertical-align:middle;
	border-bottom: 1px solid #FFF;
}
.search-btn{
	color: #FFF;
	display: inline;
	line-height: 1;
	font-size: 22px;
	padding: 0 5px;
	margin-left: -6px;
	vertical-align:middle;
	cursor: pointer;
	border-bottom: 1px solid #FFF;
}
.search-btn i{
	font-size: 18px;
}
.header-callme{
	font-size: 24px;
}
.header-callme a{
    display: inline;
    margin: 0 10px;
}
.header-callme a i{
	color: #FFF;
	font-size: 24px;
}
.header-menubtn{
	display: none;
	position: absolute;
	top: 0;
	left: 10px;
	line-height: 1;
}
.header-menubtn i{
	color: #FFF;
	font-size: 32px;
	cursor: pointer;
}
.header-weather{
	position: absolute;
	top: 0;
	right: 0;
	line-height: 1.2;
}
.weather-t1{
	font-size: 24px;
}
.weather-t2{
	font-size: 14px;
	margin-left: -22px;
}
.weather-t1:after,.weather-t2:after{
	content: "°";
}
.weather-city{
	font-size: 18px;
	line-height: 1.4;
}
nav{
	font-size: 16px;
	transition: all .2s;
	margin: 5px 0;
}
nav a{
	color: #FFF;
	display: inline;
	margin: 0 40px;
	transition: all .2s;
}


/*头部样式结束*/

/*文章样式开始*/

article{
	padding: 40px 20px 20px;
}
.article-title{
	text-align: center;
}
.article-title a{
	color: #555;
	font-size: 26px;
	font-weight: bold;
}
.article-info{
	font-size: 12px;
	color: #999;
	text-align: center;
}
.article-content{
	padding: 10px 0;
}
.article-content .readmore{
	margin: 25px 0 0;
	text-align: center;
}
.article-content .readmore a{
	padding: 0 8px;
	transition: all .2s;
}
.article-content .readmore a:hover{
	color: #FFF;
	background: #3ac19f;
}

/*文章样式结束*/

/*媒体查询开始*/

@media screen and (max-width: 767px){
	.main-center{
		width: 100%;
	}
	.header-logo{
		height: 100px;
		width: 100px;
	}
	.header-sitename{
		font-size: 32px;
	}
	.header-menubtn{
		display: block;
	}
	nav{
		display: none;
		position: absolute;
		top: 40px;
		left: 22px;
		width: 120px;
		animation: show .2s;
		background: #FFF;
		box-shadow: 6px 6px 30px 3px rgba(0,0,0,.3);
	}
	nav a{
		display: block;
		color: #3ac19f;
		margin: 0;
		padding: 2px 0;
		transition: all .2s;
	}
	nav a:hover{
		color: #FFF;
		background: #555;
	}
}

/*媒体查询结束*/

/*动画库开始*/

@keyframes show{
	0%{
		transform: scale(.7);
	}
	70%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}

/*动画库结束